---
import Layout from '../layouts/Layout.astro';
import Track from '../components/Track.astro';
import List from '../components/List.astro';

import { ALBUMS, ARTISTS, TRACKS } from '../mock';
---

<Layout title="MatSound">
  <main class="w-screen relative px-4 flex flex-col gap-6 pt-10 pb-40">
    <List type="Tracks" data={TRACKS} title="Recomendados" transition="to-page"/>
    <List type="Albums" data={ALBUMS} title="Ãlbumes" transition="to-page"/>
    <List type="Artists" data={ARTISTS} title="Artistas escuchados" transition="to-page"/>
  </main>
</Layout> 